@import 'reset';
$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import 'font-awesome';
@import 'bourbon';
@import 'neat';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Your SASS Journey Starts Here
body {
    @include outer-container(980px);
}
.main {
    text-align: center;
    overflow: auto;
    @include outer-container;
    background-color: #5A9168;
}
h1 {
    font-size: 2em;
    padding: 10px;
}
button {
    font-size: 1em;
    padding-bottom: 5px;
    border-radius: 2px;
}
.heroes {
    @include span-columns(6);
    @include omega(2n);
    background-color: #5A9168;

}
.heroes {
    @include outer-container;
}
.attack-mode {
    text-align: center;
}
.hero-side {
    @include span-columns(3);
}
.enemy-side {
    float: right;
}
img {
    height: 150px;
    width: 150px;
    border-radius: 5px;
}
