
<div class="hero-side">
    <img src="images/{{ hero.imgURL }}" alt="{{ hero.name }}">
    <p>Health</p>
</div>

<div class="enemy-side">
    <img src="images/{{ enemy.imgURL }}" alt="{{ enemy.name }}">
    <p>Health</p>
</div>

<div>
<button class="attack-mode">Attack</button>
</div>


