<div class="hero-side">
    <img src="" alt="">
    <p>Health</p>
</div>
<div class="enemy-side">
    <img src="" alt="">
    <p>Health</p>
</div>
<div>
<button class="attack-mode">Attack</button>
</div>


