<h1>Protect your city</h1>

<h1>Select Hero</h1>
{{#each this as |hero|}}
<img src="images/{{ hero.imgUrl }}" alt="{{ hero.name }}">
<button class="choose-hero" data-index="{{ @index }}">{{ hero.name }}</button>

{{/each}}
